$blue_fonts: #1092CB;
$black: #222B3A;
$blue_bgc: #296DCE;
$orange: #FF8A00;
$grey: #979FAD;

@font-face {
  font-family: "Proxima Nova";
  src: url("../fonts/ProximaNova-Regular.ttf");
}
@font-face {
  font-family: "Proxima Nova-Extrabold";
  src: url("../fonts/ProximaNova-Extrabold.ttf");
}
@font-face {
  font-family: "Proxima Nova-Semibold";
  src: url("../fonts/ProximaNova-Semibold.ttf");
}
@font-face {
  font-family: "Proxima Nova-Bold";
  src: url("../fonts/ProximaNova-Bold.ttf");
}
@font-face {
  font-family: "Intro";
  src: url("../fonts/Intro.otf");
  font-weight:normal;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
}
html {
  font-size: 16px;
}


.container {
  margin: 0 auto;
  padding: 0 20px;
  max-width: 1120px;
  min-width: 600px;
}

body {
  height: 100vh;
  margin: 0 auto;
  width: 100%;
  max-width: 1920px;
  nav {
    .container {
      .nav_row {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        .nav_logo {
          // background-image: url(../img/Logo1.1.svg);
          // background-size: contain;
          // width: 184px;
          // height: 34px;
        }
        .nav_menu {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
            p {
            padding: 26px 20px 26px 20px;
            margin: 0;
            a {
              font-family: "Proxima Nova";
              font-weight: bold;
              color: $black;
              text-decoration: none;
              font-size: 1rem;
              }
            &:nth-child(4) {
              position: relative;
              margin-left: 70px;
              &::before {
                  position: absolute;
                  content: url(../img/user.svg);
                  left: 0;
                  top: 28px;
              }
            }
            &:nth-child(1) {
            position: relative;
            //margin-left: 70px;
            &::before {
                position: absolute;
                content: "";
                left: 20px;
                bottom: 0;
                border-bottom: 2px solid #FC890D;
                width: 62px;
            }
            }
          }
        }
      }
    }
  }
  header {
    background-color: $blue_bgc;
    min-height: 510px;
    position: relative;
    overflow: hidden;
    &::before {
      position: absolute;
      content: url("../img/Vector 2.svg");
      top: -20px;
      left: 10%;
    }
    &::after {
      position: absolute;
      content: url("../img/Vector 2.1.svg");
      top: 50%;
      right: 50%;
    }
    .container {
      //overflow: hidden;
      .main_header {
        display: grid;
        grid-template-columns: repeat(auto-fill, 90px);
        grid-template-rows: repeat(2, minmax(230px, 1fr));
        grid-row-gap: 10%;
        &::after {
          //position: absolute;
          content: url("../img/karpachoff.png");
          //bottom: -5px;
          //left: 60%;
          grid-column: -6/-1;
          grid-row: 1/3;
          justify-self: center;
          align-self: end;
          z-index: 1;
        }
        .academy {
          grid-column: 1/-5;
          grid-row: 1/2;
          font-size: 2.38rem;
          font-family: "Intro";
          color: white;
          font-weight: normal;
          align-self: end;
          z-index: 2;
          span {
            color: $orange;
            font-size: 1.5rem;
          }
        }
        .button_course {
          grid-column: 1/4;
          grid-row: 2/3;
          //margin-top: 30px;
          max-width: 209px;
          //width: 100%;
          height: 44px;
          border: 1px solid white;
          border-radius: 3px;
          display: flex;
          justify-content: center;
          align-items: center;
          z-index: 2;
          a {
            text-decoration: none;
            font-size: 0.88rem;
            font-family: "Proxima Nova";
            font-weight: bold;
            color: white;
          }
        }
        .loading_block {
          display: grid;
          grid-column: 1/7;
          grid-row: 2/3;
          grid: subgrid;
          grid-template-rows: repeat(2, 1fr);
          z-index: 2;
          .main_loading_line {
            grid-column: 1/7;
            grid-row: 2/3;
            align-self: start;
            box-sizing: border-box;
            //width: 100%;
            max-width: 470px;
            height: 15px;
            display: flex;
            align-items: center;
            border-radius: 3px;
            background-color: #ffffff;
            padding-left: 3px;
            div {
              width: 60%;
              height: 60%;
              background-color: $blue_bgc;
              border-radius: 3px;
            }
          }
          .main_loading_text {
            grid-column: 1/7;
            grid-row: 2/3;
            align-self:  center;
            display: flex;
            width: 470px;
            max-height: 42px;
            padding-bottom: 30px;
            div {
              width: 60%;
              &:nth-child(2){
                width: 40%;
              }
              p {
                display: flex;
                flex-direction: row;
                font-size: 2.38rem;
                font-family: "Proxima Nova";
                font-weight: bold;
                color: white;
                span {
                  font-size: 0.88rem;
                  font-family: "Proxima Nova";
                  font-weight: normal;
                  color: white;
                  margin: 5px 10px 5px 10px;
                }
              }
            }
          }
        }
      }
      //.main_header {
      //  display: flex;
      //  flex-direction: column;
      //  align-items: flex-start;
      //  flex-wrap: wrap;
      //  min-height: 510px;
      //  position: relative;
      //  &::after {
      //    position: absolute;
      //    content: url("../img/karpachoff.png");
      //    bottom: -5px;
      //    left: 60%;
      //  }
      //  h1 {
      //    padding-top: 100px;
      //    font-size: 2.38rem;
      //    font-family: "Intro";
      //    color: white;
      //    font-weight: normal;
      //    span {
      //      color: $orange;
      //      font-size: 1.5rem;
      //    }
      //  }
      //  .button_course {
      //    margin-top: 30px;
      //    width: 209px;
      //    height: 44px;
      //    border: 1px solid white;
      //    border-radius: 3px;
      //    display: flex;
      //    justify-content: center;
      //    align-items: center;
      //    a {
      //      text-decoration: none;
      //      font-size: 0.88rem;
      //      font-family: "Proxima Nova";
      //      font-weight: bold;
      //      color: white;
      //    }
      //  }
      //  .main_loading_line {
      //    box-sizing: padding-box;
      //    margin-top: 70px;
      //    width: 100%;
      //    max-width: 470px;
      //    height: 15px;
      //    display: flex;
      //    align-items: center;
      //    border-radius: 3px;
      //    background-color: #ffffff;
      //    padding-left: 3px;
      //    div {
      //      width: 60%;
      //      height: 60%;
      //      background-color: $blue_bgc;
      //      border-radius: 3px;
      //    }
      //  }
      //  .main_loading_text {
      //    display: flex;
      //    width: 470px;
      //    height: 42px;
      //    div {
      //      width: 60%;
      //      &:nth-child(2){
      //        width: 40%;
      //      }
      //      p {
      //        display: flex;
      //        flex-direction: row;
      //        font-size: 2.38rem;
      //        font-family: "Proxima Nova";
      //        font-weight: bold;
      //        color: white;
      //        span {
      //          font-size: 0.88rem;
      //          font-family: "Proxima Nova";
      //          font-weight: normal;
      //          color: white;
      //          margin: 5px 10px 5px 10px;
      //        }
      //      }
      //    }
      //  }
      //}
    }
  }
  main {
    section {
      .container {
        .navigation{
          min-height: 50px;
          display: flex;
          flex-direction: row;
          justify-content: flex-start;
          align-items: center;
          p {
          font-size: 1rem;
          font-family: "Proxima Nova";
          font-weight: bold;
          color: $grey;
          padding: 0 20px 0 0;
            &:nth-child(3) {
              padding-left: 20px;
              color: $black;
              }
            &:nth-child(2) {
              padding-left: 20px;
              position: relative;
              &::before {
                position: absolute;
                content: "";
                top: 50%;
                left: -10px;
                border-bottom: 2px solid $grey;
                width: 20px;
                //height: 1px;
              }
              &::after {
                position: absolute;
                content: "";
                top: 50%;
                right: -10px;
                border-bottom: 2px solid $grey;
                width: 20px;
              }
            }
          }
        }
      }
    }
    section {
      &:nth-child(2) {
      background-color: #FAFAFA;
      }
      .container {
        .course_topics {
          display: flex;
          justify-content: space-between;
          align-items: center;
          min-height: 99px;
          p {
            font-size: 1.13rem;
            font-family: "Proxima Nova-Bold";
            color: $black;
            position: relative;
            &:nth-child(1) {
              margin-left: 30px;
              &::before {
                position: absolute;
                content: "";
                top: 50%;
                left: -30px;
                border-bottom: 2px solid $black;
                width: 20px;
              }
            }
          }
          .button_select_child_age {
            max-width: 227px;
            width: 100%;
            height: 44px;
            border: 1.3px solid $orange;
            border-radius: 3px;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            &::after{
              position: absolute;
              content: url("../img/Polygon.svg");
              top: 11px;
              right: 15px;
            }
            a {
              padding-right: 30px;
              text-decoration: none;
              font-size: 0.88rem;
              font-family: "Proxima Nova";
              font-weight: bold;
              color: $orange;
            }
          }
        }
      }
    }
    section {
      .container {
        .main_numerated_topics_container {
          display: grid;
          grid-template-columns: 1fr;
          grid-template-rows: repeat(6, minmax(203px, auto));
          grid-row-gap: 20px;
          .topics_differently {

            //display:flex;
            //justify-content: space-around;
            //box-shadow: 0 10px 10px #FAFAFA;
            //border-radius: 3px;
            //border: 1px #FAFAFA solid;
            .topics_number {
              display: flex;
              align-self: flex-start;
              font-size: 4rem;
              font-family: "Proxima Nova-Bold";
              font-weight: bold;
              color: #E1E1E1;
              margin-top: 30px;
            }
            .topics_text {
              display: flex;
              flex-wrap: wrap;
              flex-direction: column;
              max-width: 800px;
              h2 {
                font-size: 1.5rem;
                text-transform: uppercase;
                font-family: "Proxima Nova-Extrabold";
                color: $blue_fonts;
                line-height: 2em;
              }
              p {
                font-size: 1rem;
                font-family: "Proxima Nova-Bold";
                color: $grey;
                line-height: 2em;
                position: relative;
                &:nth-of-type(1) {
                  margin-left: 20px;
                  &::before {
                    position: absolute;
                    content: url("../img/Vector.svg");
                    top: 0;
                    left: -20px;
                  }
                }
                &:nth-of-type(2) {
                  font-size: 1rem;
                  font-family: "Proxima Nova";
                  color: #696969;
                  line-height: 2em;
                }
                &:nth-of-type(3) {
                  font-size: 1rem;
                  font-family: "Proxima Nova-Bold";
                  color: #696969;
                  line-height: 2em;
                  span {
                    color: $orange;
                    text-transform: uppercase;
                  }
                }
              }
            }
            .loading_block {
              display: flex;
              justify-content: center;
              flex-direction: column;
                p {
                color: #323232;
                font-size: 0.88rem;
                font-family: "Proxima Nova-Bold";
                }
              .loading_line {
                //margin-top: 70px;
                width: 15px;
                height: 121px;
                display: flex;
                align-items: flex-end;
                justify-content: center;
                border-radius: 3px;
                background-color: #F3F3F3;
                padding-bottom: 3px;
                div {
                  width: 60%;
                  height: 60%;
                  background-color: #0099DD;
                  border-radius: 3px;
                }
              }
            }
          }
        }
      }
    }
  }
  footer {
  background-color: #0099DD;
  .container {
    .footer_main_block {
      margin-top: 50px;
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      grid-template-rows: repeat(1, minmax(350px, auto));
      .footer_grid_column {
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        h3 {
          font-size: 1.5rem;
          font-family: "Proxima Nova-Bold";
          color: #ffffff;
          line-height: 3em;
          margin: 30px 0 30px 0;
          position: relative;
          &::before {
            position: absolute;
            content: "";
            bottom: 0;
            left: 0;
            width: 30px;
            border-bottom: 3px #ffffff solid;
          }
        }
        p {
          font-size: 1rem;
          font-family: "Proxima Nova-Semibold";
          color: #ffffff;
          line-height: 2em;
        }
        &:nth-of-type(1) {
          grid-column: 1/4;
        }
        &:nth-of-type(2) {
          grid-column: 4/7;
        }
        &:nth-of-type(3) {
          grid-column: 7/10;
        }
        &:nth-of-type(4) {
          grid-column: 10/13;
          justify-self: end;
        }
      }
    }
  }
  }
}
@media screen and (min-width: 100px) and (max-width: 600px) {
  html {
    font-size: 14px;
  }
  .container {
    margin: 0 auto;
    padding: 0 20px;
    max-width: 339px;
    min-width: 250px;
  }
    body { 
      height: 100vh;
      width: 100%;
      max-width: 375px;
      padding: 0 18px 0 18px;
      nav {
        .container {
          .nav_row {
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-start;
            align-items: center;
            min-height: 55px;
            position: relative;
            .nav_logo {
              content: url(../img/Logo1.2.svg);
            }
            .nav_menu {
            &::before {
              position: absolute;
              content: url(../img/Group23.svg);
              width: 23px;
              height: 16px;
              right: 0;
              top: 16px;
            }
            p {
              display: none;
            }
          }
        }
      }
    }
  }
  header {
    position: relative;
    //overflow: hidden;
    &::before{
      position: absolute;
      content: url("../img/Vector 2.svg");
      top: -20px;
      left: -100px;
    }
    &::after {
      position: absolute;
      content: url("../img/Vector 2.1.svg");
      top: 20px;
      right: 500px;
    }
    .container {
      .main_header {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        flex-wrap: wrap;
        min-height: 510px;
        position: relative;
        &::after {
          display: none;
        }
        .main_loading_line {
          max-width: 340px;
          width: 100%;
        }
        .main_loading_text {
          display: flex;
          max-width: 340px;
          width: 100%;
          //height: 42px;
          div {
            width: 60%;
            &:nth-child(2){
              width: 40%;
            }
            p {
              display: flex;
              flex-direction: row;
              font-size: 2.38rem;
              font-family: "Proxima Nova";
              font-weight: bold;
              color: white;
              span {
                font-size: 0.88rem;
                font-family: "Proxima Nova";
                font-weight: normal;
                color: white;
                margin: 5px 10px 5px 10px;
              }
            }
          }
        }
      }
    }
  }
  main {
    section {
      &:nth-of-type(1) {
        display: none;
      }
      &:nth-of-type(2) {
        .container {
          .course_topics {
            min-height: 143px;
            flex-direction: column;
            align-items: flex-start;
            justify-content: space-around;
            p {
              font-size: 1.3rem;
            }
            .button_select_child_age {
              max-width: 344px;
              width: 100%;
              a {
                font-size: 1rem;
              }
            }
          }
        }
      }
      &:nth-of-type(3) {
        .container {
          .main_numerated_topics_container {
            grid-template-rows: repeat(6, minmax(340px, auto));
            .topics_differently {
              display: flex;
              flex-direction: column;
              padding: 20px;
              box-sizing: border-box;
              height: 328px;
              .topics_number {
                font-size: 2.85rem;
              }
              .topics_text {
                max-width: 100%;
                flex-direction: row;
                h2 {
                  line-height: 1em;
                  font-size: 1.3rem;
                }
              }
              .loading_block {
                display: inline-block;
                //transform: rotate(90deg);
                .loading_line {
                  transform: rotate(90deg) translate(-330px, -200px);
                  position: relative;
                  &::after{
                    position: absolute;
                    content: "";
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
  
