@font-face {
  font-family: "Proxima Nova";
  src: url("../fonts/ProximaNova-Regular.ttf");
}

@font-face {
  font-family: "Proxima Nova-Extrabold";
  src: url("../fonts/ProximaNova-Extrabold.ttf");
}

@font-face {
  font-family: "Proxima Nova-Semibold";
  src: url("../fonts/ProximaNova-Semibold.ttf");
}

@font-face {
  font-family: "Proxima Nova-Bold";
  src: url("../fonts/ProximaNova-Bold.ttf");
}

@font-face {
  font-family: "Intro";
  src: url("../fonts/Intro.otf");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

.container {
  margin: 0 auto;
  padding: 0 20px;
  max-width: 1120px;
  min-width: 600px;
}

body {
  height: 100vh;
  margin: 0 auto;
  width: 100%;
  max-width: 1920px;
}

body nav .container .nav_row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body nav .container .nav_row .nav_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

body nav .container .nav_row .nav_menu p {
  padding: 26px 20px 26px 20px;
  margin: 0;
}

body nav .container .nav_row .nav_menu p a {
  font-family: "Proxima Nova";
  font-weight: bold;
  color: #222B3A;
  text-decoration: none;
  font-size: 1rem;
}

body nav .container .nav_row .nav_menu p:nth-child(4) {
  position: relative;
  margin-left: 70px;
}

body nav .container .nav_row .nav_menu p:nth-child(4)::before {
  position: absolute;
  content: url(../img/user.svg);
  left: 0;
  top: 28px;
}

body nav .container .nav_row .nav_menu p:nth-child(1) {
  position: relative;
}

body nav .container .nav_row .nav_menu p:nth-child(1)::before {
  position: absolute;
  content: "";
  left: 20px;
  bottom: 0;
  border-bottom: 2px solid #FC890D;
  width: 62px;
}

body header {
  background-color: #296DCE;
  min-height: 510px;
  position: relative;
  overflow: hidden;
}

body header::before {
  position: absolute;
  content: url("../img/Vector 2.svg");
  top: -20px;
  left: 10%;
}

body header::after {
  position: absolute;
  content: url("../img/Vector 2.1.svg");
  top: 50%;
  right: 50%;
}

body header .container .main_header {
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(auto, 1fr))[12];
      grid-template-columns: repeat(12, minmax(auto, 1fr));
  -ms-grid-rows: (minmax(130px, 1fr))[4];
      grid-template-rows: repeat(4, minmax(130px, 1fr));
      grid-template-areas: "acad acad acad acad acad acad acad acad acad acad acad acad" "acad acad acad acad acad acad acad acad acad acad acad acad" "butt butt butt butt butt butt butt butt butt butt butt butt" "load load load load load load load load load load load load";
}

body header .container .main_header::after {
  position: absolute;
  content: url("../img/karpachoff.png");
  bottom: -5px;
  right: 7%;
  z-index: 1;
}

body header .container .main_header .academy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-item-align: end;
      align-self: flex-end;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 12;
  grid-area: acad;
  line-height: 3.5rem;
  font-size: 2.38rem;
  font-family: "Intro";
  color: white;
  z-index: 2;
}

body header .container .main_header .academy span {
  color: #FF8A00;
  font-size: 1.5rem;
}

body header .container .main_header .button_course {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 12;
  grid-area: butt;
  margin-top: 30px;
  max-width: 209px;
  width: 100%;
  height: 44px;
  border: 1px solid white;
  border-radius: 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 2;
}

body header .container .main_header .button_course a {
  text-decoration: none;
  font-size: 0.88rem;
  font-family: "Proxima Nova";
  font-weight: bold;
  color: white;
}

body header .container .main_header .loading_block {
  -ms-grid-row: 1;
  -ms-grid-row-span: 6;
  -ms-grid-column: 10;
  -ms-grid-column-span: 3;
  grid-area: load;
  z-index: 2;
}

body header .container .main_header .loading_block .main_loading_line {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  max-width: 470px;
  height: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 3px;
  background-color: #ffffff;
  padding-left: 3px;
}

body header .container .main_header .loading_block .main_loading_line div {
  width: 60%;
  height: 60%;
  background-color: #296DCE;
  border-radius: 3px;
}

body header .container .main_header .loading_block .main_loading_text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 470px;
  max-height: 42px;
  padding-top: 10px;
}

body header .container .main_header .loading_block .main_loading_text div {
  width: 60%;
}

body header .container .main_header .loading_block .main_loading_text div:nth-child(2) {
  width: 40%;
}

body header .container .main_header .loading_block .main_loading_text div p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  font-size: 2.38rem;
  font-family: "Proxima Nova";
  font-weight: bold;
  color: white;
}

body header .container .main_header .loading_block .main_loading_text div p span {
  font-size: 0.88rem;
  font-family: "Proxima Nova";
  font-weight: normal;
  color: white;
  margin: 5px 10px 5px 10px;
}

body main section .container .navigation {
  min-height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body main section .container .navigation p {
  font-size: 1rem;
  font-family: "Proxima Nova";
  font-weight: bold;
  color: #979FAD;
  padding: 0 20px 0 0;
}

body main section .container .navigation p:nth-child(3) {
  padding-left: 20px;
  color: #222B3A;
}

body main section .container .navigation p:nth-child(2) {
  padding-left: 20px;
  position: relative;
}

body main section .container .navigation p:nth-child(2)::before {
  position: absolute;
  content: "";
  top: 50%;
  left: -10px;
  border-bottom: 2px solid #979FAD;
  width: 20px;
}

body main section .container .navigation p:nth-child(2)::after {
  position: absolute;
  content: "";
  top: 50%;
  right: -10px;
  border-bottom: 2px solid #979FAD;
  width: 20px;
}

body main section:nth-child(2) {
  background-color: #FAFAFA;
}

body main section .container .course_topics {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 99px;
}

body main section .container .course_topics p {
  font-size: 1.13rem;
  font-family: "Proxima Nova-Bold";
  color: #222B3A;
  position: relative;
}

body main section .container .course_topics p:nth-child(1) {
  margin-left: 30px;
}

body main section .container .course_topics p:nth-child(1)::before {
  position: absolute;
  content: "";
  top: 50%;
  left: -30px;
  border-bottom: 2px solid #222B3A;
  width: 20px;
}

body main section .container .course_topics .button_select_child_age {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  max-width: 227px;
  width: 100%;
  height: 44px;
  border: 1.3px solid #FF8A00;
  border-radius: 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

body main section .container .course_topics .button_select_child_age::after {
  position: absolute;
  content: url("../img/Polygon.svg");
  top: 11px;
  right: 15px;
}

body main section .container .course_topics .button_select_child_age a {
  padding-right: 30px;
  text-decoration: none;
  font-size: 0.88rem;
  font-family: "Proxima Nova";
  font-weight: bold;
  color: #FF8A00;
}

body main section .container .main_numerated_topics_container {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (minmax(203px, auto))[6];
      grid-template-rows: repeat(6, minmax(203px, auto));
  grid-row-gap: 20px;
}

body main section .container .main_numerated_topics_container .topics_differently {
  -webkit-box-shadow: 0 10px 10px #FAFAFA;
          box-shadow: 0 10px 10px #FAFAFA;
  border-radius: 3px;
  display: -ms-grid;
  display: grid;
      grid-template-areas: "numb numb numb text text text text text text load load load" "numb numb numb text text text text text text load load load" "numb numb numb text text text text text text load load load" "numb numb numb text text text text text text load load load" "numb numb numb text text text text text text load load load" "numb numb numb text text text text text text load load load";
}

body main section .container .main_numerated_topics_container .topics_differently .topics_number {
  -ms-grid-row: 1;
  -ms-grid-row-span: 6;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: numb;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-self: center;
  font-size: 4rem;
  font-family: "Proxima Nova-Bold";
  font-weight: bold;
  color: #E1E1E1;
  margin-top: 30px;
}

body main section .container .main_numerated_topics_container .topics_differently .topics_text {
  -ms-grid-row: 1;
  -ms-grid-row-span: 6;
  -ms-grid-column: 4;
  -ms-grid-column-span: 6;
  grid-area: text;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 800px;
}

body main section .container .main_numerated_topics_container .topics_differently .topics_text h2 {
  font-size: 1.5rem;
  text-transform: uppercase;
  font-family: "Proxima Nova-Extrabold";
  color: #1092CB;
  line-height: 2em;
}

body main section .container .main_numerated_topics_container .topics_differently .topics_text p {
  font-size: 1rem;
  font-family: "Proxima Nova-Bold";
  color: #979FAD;
  line-height: 2em;
  position: relative;
}

body main section .container .main_numerated_topics_container .topics_differently .topics_text p:nth-of-type(1) {
  margin-left: 20px;
}

body main section .container .main_numerated_topics_container .topics_differently .topics_text p:nth-of-type(1)::before {
  position: absolute;
  content: url("../img/Vector.svg");
  top: 0;
  left: -20px;
}

body main section .container .main_numerated_topics_container .topics_differently .topics_text p:nth-of-type(2) {
  font-size: 1rem;
  font-family: "Proxima Nova";
  color: #696969;
  line-height: 2em;
}

body main section .container .main_numerated_topics_container .topics_differently .topics_text p:nth-of-type(3) {
  font-size: 1rem;
  font-family: "Proxima Nova-Bold";
  color: #696969;
  line-height: 2em;
}

body main section .container .main_numerated_topics_container .topics_differently .topics_text p:nth-of-type(3) span {
  color: #FF8A00;
  text-transform: uppercase;
}

body main section .container .main_numerated_topics_container .topics_differently .loading_block {
  -ms-grid-row: 1;
  -ms-grid-row-span: 6;
  -ms-grid-column: 10;
  -ms-grid-column-span: 3;
  grid-area: load;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-self: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body main section .container .main_numerated_topics_container .topics_differently .loading_block p {
  color: #323232;
  font-size: 0.88rem;
  font-family: "Proxima Nova-Bold";
}

body main section .container .main_numerated_topics_container .topics_differently .loading_block .loading_line {
  width: 15px;
  height: 121px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 3px;
  background-color: #F3F3F3;
  padding-bottom: 3px;
}

body main section .container .main_numerated_topics_container .topics_differently .loading_block .loading_line div {
  width: 60%;
  height: 60%;
  background-color: #0099DD;
  border-radius: 3px;
}

body footer {
  background-color: #0099DD;
}

body footer .container .footer_main_block {
  margin-top: 50px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
  -ms-grid-rows: (minmax(350px, auto))[1];
      grid-template-rows: repeat(1, minmax(350px, auto));
}

body footer .container .footer_main_block .footer_grid_column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body footer .container .footer_main_block .footer_grid_column h3 {
  font-size: 1.5rem;
  font-family: "Proxima Nova-Bold";
  color: #ffffff;
  line-height: 3em;
  margin: 30px 0 30px 0;
  position: relative;
}

body footer .container .footer_main_block .footer_grid_column h3::before {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  width: 30px;
  border-bottom: 3px #ffffff solid;
}

body footer .container .footer_main_block .footer_grid_column p {
  font-size: 1rem;
  font-family: "Proxima Nova-Semibold";
  color: #ffffff;
  line-height: 2em;
}

body footer .container .footer_main_block .footer_grid_column:nth-of-type(1) {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
}

body footer .container .footer_main_block .footer_grid_column:nth-of-type(2) {
  -ms-grid-column: 4;
  -ms-grid-column-span: 3;
  grid-column: 4/7;
}

body footer .container .footer_main_block .footer_grid_column:nth-of-type(3) {
  -ms-grid-column: 7;
  -ms-grid-column-span: 3;
  grid-column: 7/10;
}

body footer .container .footer_main_block .footer_grid_column:nth-of-type(4) {
  -ms-grid-column: 10;
  -ms-grid-column-span: 3;
  grid-column: 10/13;
  -ms-grid-column-align: end;
      justify-self: end;
}

@media screen and (min-width: 100px) and (max-width: 600px) {
  html {
    font-size: 14px;
  }
  .container {
    margin: 0 auto;
    padding: 0 20px;
    max-width: 339px;
    min-width: 250px;
  }
  body {
    height: 100vh;
    width: 100%;
    max-width: 375px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  body nav .container .nav_row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    min-height: 55px;
    position: relative;
  }
  body nav .container .nav_row .nav_logo {
    content: url(../img/Logo1.2.svg);
  }
  body nav .container .nav_row .nav_menu::before {
    position: absolute;
    content: url(../img/Group23.svg);
    width: 23px;
    height: 16px;
    right: 0;
    top: 16px;
  }
  body nav .container .nav_row .nav_menu p {
    display: none;
  }
  header {
    position: relative;
  }
  header::before {
    position: absolute;
    content: url("../img/Vector 2.svg");
    top: -20px;
    left: -100px;
  }
  header::after {
    position: absolute;
    content: url("../img/Vector 2.1.svg");
    top: 20px;
    right: 500px;
  }
  header .container .main_header::after {
    display: none;
  }
  header .container .main_header .loading_block .main_loading_line {
    max-width: 340px;
    width: 100%;
  }
  header .container .main_header .loading_block .main_loading_text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 340px;
    width: 100%;
  }
  header .container .main_header .loading_block .main_loading_text div {
    width: 60%;
  }
  header .container .main_header .loading_block .main_loading_text div:nth-child(2) {
    width: 40%;
  }
  header .container .main_header .loading_block .main_loading_text div p {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    font-size: 2.38rem;
    font-family: "Proxima Nova";
    font-weight: bold;
    color: white;
  }
  header .container .main_header .loading_block .main_loading_text div p span {
    font-size: 0.88rem;
    font-family: "Proxima Nova";
    font-weight: normal;
    color: white;
    margin: 5px 10px 5px 10px;
  }
  main section:nth-of-type(1) {
    display: none;
  }
  main section:nth-of-type(2) .container .course_topics {
    min-height: 143px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  main section:nth-of-type(2) .container .course_topics p {
    font-size: 1.3rem;
  }
  main section:nth-of-type(2) .container .course_topics .button_select_child_age {
    max-width: 344px;
    width: 100%;
  }
  main section:nth-of-type(2) .container .course_topics .button_select_child_age a {
    font-size: 1rem;
  }
  main section:nth-of-type(3) .container .main_numerated_topics_container {
    -ms-grid-rows: (minmax(340px, auto))[6];
        grid-template-rows: repeat(6, minmax(340px, auto));
  }
  main section:nth-of-type(3) .container .main_numerated_topics_container .topics_differently {
        grid-template-areas: "numb numb numb load load load load load load load load load" "numb numb numb load load load load load load load load load" "text text text text text text text text text text text text" "text text text text text text text text text text text text" "text text text text text text text text text text text text" "text text text text text text text text text text text text";
  }
  main section:nth-of-type(3) .container .main_numerated_topics_container .topics_differently .topics_number {
    font-size: 2.85rem;
  }
  main section:nth-of-type(3) .container .main_numerated_topics_container .topics_differently .topics_text {
    max-width: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  main section:nth-of-type(3) .container .main_numerated_topics_container .topics_differently .topics_text h2 {
    line-height: 1em;
    font-size: 1.3rem;
  }
  main section:nth-of-type(3) .container .main_numerated_topics_container .topics_differently .loading_block {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    -ms-grid-column: 4;
    -ms-grid-column-span: 9;
    grid-area: load;
    display: inline-block;
  }
  main section:nth-of-type(3) .container .main_numerated_topics_container .topics_differently .loading_block .loading_line {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
    position: relative;
  }
}
/*# sourceMappingURL=course.css.map */